<!doctype html>
<html lang="en">
<head>
  <title>Formulario de Login</title>
  <mat-slide-toggle>Toggle me!</mat-slide-toggle>
</head>
<body>
  <section class="formulario-login">
    <h2>Login</h2>
    <input class="controls" type="text" name="user" value="" placeholder="Usuario">
    <input class="controls" type="password" name="contraseña" value="" placeholder="Password">
    <input class="button" type="submit" name="" value="Entrar">
    <p></p>
    <h5>Hecho por C29</h5>
  </section>
</body>
